/* Sign Up Two */
.sign-up-two {
  margin-top: 44px;

  .sign-up-header {
    margin-bottom: 30px;
    h1 {
      margin: 0;
    }
    h2 {
      color: #8a8a8a;
      font-weight: 600;
    }
  }

  form {
    .form-label {
      color: $tertiary-color;
      font-size: 15px;
      font-weight: 600;
      color: #000;

      .password-show {
        position: absolute;
        right: 32px;
        left: auto;
        color: #858585;
      }
    }
    .form-control {
      border: none;
      border-radius: 0;
      border-top: 1px solid #efefef;
      padding-left: 0;
      margin-bottom: 5px;

      &:focus {
        outline: none;
        border-top: 1px solid $primary-color;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
      }

      .sign-up-btn:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: -webkit-focus-ring-color auto 0px;
      }
    }
  }
  .chatting-btn {
    position: absolute;
    bottom: 50px;
    z-index: 50;
    right: 16px;
    width: 153px;
  }
}
